.inline{
    display: inline-block;
}

.pass{
    border: none;
    background: none;
    width: 70%;
}

.pass::selection{
    background: none;
}

.pass:focus{
    outline: none;
}

.correcta{
    text-shadow: 0px 0px 10px green;
}